{{ block "account_edit" . }}

<div class="w-full flex items-center justify-center py-6">

	<!-- Profile Card -->
	<div
		class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 max-w-lg bg-white flex flex-col rounded-2xl shadow-md dark:bg-gray-800 p-6 space-y-6">
		<h2 id="account-title" class="text-2xl font-bold text-gray-800 text-center dark:text-white">Account</h2>

		<form class="space-y-3" hx-post="/account/update/{{ .User.ID }}" hx-target="#account-title">

			<!-- Username -->
			<div>
				<label for="username"
					class="block text-sm font-medium text-gray-700 dark:text-gray-300">Username</label>
				<input type="text" name="username" id="username" required
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
					value={{ .User.Username.String }} />
			</div>

			<!-- Weight Unit -->
			<div>
				<label for="weight_unit" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Weight
					Unit</label>
				<select name="weight_unit" id="weight_unit"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
					{{ if eq .User.WeightUnit "lbs" }}
					<option value="lbs" selected>lbs</option>
					<option value="kg">kg</option>
					{{ end }}
					{{ if eq .User.WeightUnit "kg" }}
					<option value="lbs">lbs</option>
					<option value="kg" selected>kg</option>
					{{ end }}
				</select>
			</div>

			<!-- Default Diet -->
			<div>
				<label for="default_diet" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Default
					Diet</label>
				<select name="default_diet" id="default_diet"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
					{{ range .UserDiets }}
					{{ if .IsDefault }}
					<option value="{{ .DietType }}" selected>{{.DietType}}</option>
					{{ else }}
					<option value="{{.DietType}}">{{.DietType}}</option>
					{{ end }}
					{{ end }}
				</select>
			</div>

			<!-- Submit Button -->
			<div>
				<button type="submit"
					class="w-full flex items-center justify-center gap-3 px-5 py-3 text-white font-semibold rounded-xl bg-blue-500 hover:bg-blue-700">
					Update
				</button>
			</div>
		</form>
	</div>
</div>
{{ end }}
