{{ block "edit_weigh_in_form" . }}
<div class="w-full flex items-center justify-center py-6">
	<!-- Weigh-In Card -->
	<div
		class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 max-w-lg bg-white flex flex-col rounded-2xl shadow-md dark:bg-gray-800 p-6 space-y-6">
		<h2 id="edit-weighIn-title" class="text-2xl font-bold text-gray-800 text-center dark:text-white">Edit Weigh-In
		</h2>

		<form class="space-y-3" hx-post="/weigh-in/update/{{ .WeighIn.ID }}" hx-target="#edit-weighIn-title"
			hx-push-url="true">
			<!-- Weight -->
			<div>
				<label for="weight" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Weight*</label>
				<input type="number" name="weight" id="weight" required
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
					value={{ .WeighIn.Weight }} />
			</div>

			<!-- Weight Unit -->
			<div>
				<label for="weight_unit" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Weight
					Unit*</label>
				<select name="weight_unit" id="weight_unit"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
					<option value="lbs" selected>lbs</option>
					<option value="kg">kg</option>
				</select>
			</div>

			<!-- Log Date -->
			<div>
				<label for="log_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Log
					Date*</label>
				<input type="date" name="log_date" id="log_date"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
					value={{ .LogDateFormatted }} />
			</div>

			<!-- Checkboxes -->
			<div class="flex flex-col gap-3 sm:flex-row sm:gap-6">
				<label class="inline-flex items-center">
					<input type="checkbox" name="cheated"
						class="rounded text-blue-600 bg-gray-100 dark:bg-gray-700 border-gray-300 dark:border-gray-600 focus:ring-blue-500"
						{{ if .WeighIn.Cheated }}checked{{else}}{{end}} />
					<span class="ml-2 text-sm text-gray-700 dark:text-gray-300">Cheated</span>
				</label>
				<label class="inline-flex items-center">
					<input type="checkbox" name="used_alcohol"
						class="rounded text-blue-600 bg-gray-100 dark:bg-gray-700 border-gray-300 dark:border-gray-600 focus:ring-blue-500"
						{{ if .WeighIn.Alcohol }}checked{{else}}{{end}} />
					<span class="ml-2 text-sm text-gray-700 dark:text-gray-300">Used Alcohol</span>
				</label>
			</div>

			<!-- Note -->
			<div>
				<label for="note" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Note</label>
				<input type="text" name="note" id="note"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
					value={{ .WeighIn.Note.String }} />
			</div>

			<!-- Weigh-In Diet -->
			<div>
				<label for="weigh_in_diet"
					class="block text-sm font-medium text-gray-700 dark:text-gray-300">Diet</label>
				<select name="weigh_in_diet" id="weigh_in_diet"
					class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
					{{ range .UserDiets }}
					{{ if .IsDefault }}
					<option value="{{ .DietType }}" selected>{{.DietType}}</option>
					{{ else }}
					<option value="{{.DietType}}">{{.DietType}}</option>
					{{ end }}
					{{ end }}
				</select>
			</div>

			<!-- Submit Button -->
			<div>
				<button type="submit"
					class="w-full flex items-center justify-center gap-3 px-5 py-3 text-white font-semibold rounded-xl bg-blue-500 hover:bg-blue-700">
					Update
				</button>
			</div>
		</form>
		<p class="text-gray-500 text-left">*required</p>
	</div>
</div>
{{ end }}
