{{ block "index" . }}

{{ template "header" . }}

<body>
	{{ template "navbar" . }}
	<!-- <div class="hidden lg:block text-red-500">LG BREAKPOINT ACTIVE</div> -->
	<!-- <div class="hidden md:block text-red-500">MD BREAKPOINT ACTIVE</div> -->
	<!-- <div class="hidden xl:block text-red-500">XL BREAKPOINT ACTIVE</div> -->
	<div class="hidden">
		<p class="text-lg text-red-500 p-4">Please fill out all required fields</p>
	</div>
	<div id="success"></div>
	<div id="main_body" class="min-h-screen flex flex-col items-stretch p-4">
		<!-- Responsive wrapper -->
		<div class="flex flex-col md:flex-row w-full">
			<!-- Graph section -->
			{{ template "line_chart" . }}
			<!-- Weigh-in form -->
			<div id="new_weigh_in" class="w-full lg:w-1/2 p-4 flex flex-col items-center justify-center">
				{{ template "weigh_in_form" . }}
			</div>
		</div>
	</div>
</body>

</html>
{{ end }}

{{ block "line_chart" . }}
<div class="w-full lg:w-1/2 p-4 flex flex-col items-center justify-center" hx-get="/get_chart_data"
	hx-trigger="submit_weigh_in from:body delay:500ms" hx-swap="outerHTML">
	{{ .ChartHTML }}
</div>
{{ end }}
