{{ block "index" . }}

{{ template "header" . }}

<body>
	{{ template "navbar" . }}
	<!-- <div class="hidden lg:block text-red-500">LG BREAKPOINT ACTIVE</div> -->
	<!-- <div class="hidden md:block text-red-500">MD BREAKPOINT ACTIVE</div> -->
	<!-- <div class="hidden xl:block text-red-500">XL BREAKPOINT ACTIVE</div> -->
	<div class="hidden">
		<p class="text-lg text-red-500 p-4">Please fill out all required fields</p>
	</div>
	<div id="success"></div>
	<div id="main_body" class="min-h-screen flex flex-col items-stretch">
		<!-- Responsive wrapper -->
		<div class="flex flex-col md:flex-row w-full">
			<!-- Graph section -->
			<div class="w-full lg:w-1/2 p-4 flex flex-col items-center justify-center">
				{{ .ChartHTML }}
			</div>

			<!-- Weigh-in form -->
			<div id="new_weigh_in" class="w-full lg:w-1/2 p-4 flex flex-col items-center justify-center">
				{{ template "weigh_in_form" }}
			</div>
		</div>
	</div>
	{{ template "data_button" }}

</body>

</html>
{{ end }}
