{{ block "weigh_in_form" . }}

<!-- Weigh-In Card -->
<div
	class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 max-w-lg bg-white flex flex-col rounded-2xl shadow-md dark:bg-gray-800 p-4 space-y-6">
	<h2 id="weigh-in-title" class="text-2xl font-bold text-gray-800 text-center dark:text-white">Weigh-In Entry</h2>

	<form class="space-y-1" hx-post="/weigh_in/create" hx-on::after-request="if(event.detail.successful) this.reset()"
		hx-target="#weigh-in-title">
		<!-- Weight -->
		<div>
			<label for="weight" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Weight*</label>
			<input type="number" name="weight" id="weight" required
				class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2" />
		</div>

		<!-- Weight Unit -->
		<div>
			<label for="weight_unit" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Weight
				Unit</label>
			<select name="weight_unit" id="weight_unit"
				class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
				{{ if eq .User.WeightUnit "lbs" }}
				<option value="lbs" selected>lbs</option>
				<option value="kg">kg</option>
				{{ end }}
				{{ if eq .User.WeightUnit "kg" }}
				<option value="lbs">lbs</option>
				<option value="kg" selected>kg</option>
				{{ end }}
			</select>
		</div>

		<!-- Log Date -->
		<div>
			<label for="log_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Log
				Date*</label>
			<input type="date" name="log_date" id="log_date"
				class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
				value={{ .CurrentDate }} />
		</div>

		<!-- Checkboxes -->
		<div class="flex flex-col gap-3 sm:flex-row sm:gap-6">
			<label class="inline-flex items-center">
				<input type="checkbox" name="cheated"
					class="rounded text-blue-600 bg-gray-100 dark:bg-gray-700 border-gray-300 dark:border-gray-600 focus:ring-blue-500" />
				<span class="ml-2 text-sm text-gray-700 dark:text-gray-300">Cheated</span>
			</label>
			<label class="inline-flex items-center">
				<input type="checkbox" name="used_alcohol"
					class="rounded text-blue-600 bg-gray-100 dark:bg-gray-700 border-gray-300 dark:border-gray-600 focus:ring-blue-500" />
				<span class="ml-2 text-sm text-gray-700 dark:text-gray-300">Used Alcohol</span>
			</label>
		</div>

		<!-- Note -->
		<div>
			<label for="note" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Note</label>
			<input type="text" name="note" id="note"
				class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"
				autocomplete="off" />
		</div>

		<!-- Weigh-In Diet -->
		<div>
			<label for="weigh_in_diet" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Diet</label>
			<select name="weigh_in_diet" id="weigh_in_diet"
				class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2">
				{{ range .UserDiets }}
				{{ if .IsDefault }}
				<option value="{{ .DietType }}" selected>{{.DietType}}</option>
				{{ else }}
				<option value="{{.DietType}}">{{.DietType}}</option>
				{{ end }}
				{{ end }}
			</select>
		</div>

		<!-- Add diet Modal toggle -->
		<!-- <div class="pb-px"> -->
		<!-- <div class="flex justify-between"> -->
		<!-- 	<button type="button" data-modal-target="create-diet-modal" data-modal-toggle="create-diet-modal" -->
		<!-- 		class="text-gray-500 hover:underline cursor-pointer"> -->
		<!-- 		Create New Diet -->
		<!-- 	</button> -->
		<!-- </div> -->

		<!-- Delete diet Modal toggle -->
		<!-- 	<div class="pb-px"> -->
		<!-- 		<button type="button" data-modal-target="delete-diet-modal" data-modal-toggle="delete-diet-modal" -->
		<!-- 			class="text-gray-500 text-right hover:underline cursor-pointer"> -->
		<!-- 			Delete Diet -->
		<!-- 		</button> -->
		<!-- 	</div> -->
		<!-- </div> -->

		<!-- Submit Button -->
		<div>
			<button type=" submit" onclick="document.body.dispatchEvent(new Event('submit_weigh_in'))"
				class="w-full flex items-center justify-center gap-3 px-5 py-3 text-white font-semibold rounded-xl bg-blue-500 hover:bg-blue-700">
				Submit
			</button>
		</div>
	</form>
	<!-- Create diet modal -->
	<!-- <div id="create-diet-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  -->
	<!-- 	justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"> -->
	<!-- 	<div class="relative p-4 w-full max-w-md max-h-full"> -->
	<!-- Modal content -->
	<!-- <div class="w-full bg-white flex flex-col rounded-2xl shadow-md dark:bg-gray-800 p-4 space-y-6"> -->
	<!-- Modal header -->
	<!-- <h2 id="create-modal-title" class="text-2xl font-bold text-gray-800 text-center dark:text-white"> -->
	<!-- 	Add New Diet -->
	<!-- </h2> -->

	<!-- Modal body -->
	<!-- <form class="space-y-4" hx-post="/diet/new/{{ .User.ID }}" hx-target="#create-modal-title" -->
	<!-- 	hx-on::after-request="if(event.detail.successful) this.reset()"> -->
	<!-- Diet input -->
	<!-- <div> -->
	<!-- 	<label for="diet" class="block text-sm font-medium text-gray-700 dark:text-gray-300"> -->
	<!-- 		Diet* -->
	<!-- 	</label> -->
	<!-- 	<input type="text" name="diet" id="diet" class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300  -->
	<!-- 		dark:border-gray-600 text-gray-900 dark:text-white  -->
	<!-- 		focus:ring-blue-500 focus:border-blue-500 p-2" placeholder="Enter diet name" autocomplete="off" required> -->
	<!-- </div> -->
	<!---->
	<!-- Default diet checkbox -->
	<!-- <div class="flex items-center"> -->
	<!-- 	<input id="default-diet" name="is_default" type="checkbox" class="rounded text-blue-600 bg-gray-100 dark:bg-gray-700 border-gray-300  -->
	<!-- 		dark:border-gray-600 focus:ring-blue-500" value="true"> -->
	<!-- 	<label for="default-diet" class="ml-2 text-sm text-gray-700 dark:text-gray-300"> -->
	<!-- 		Set as default diet -->
	<!-- 	</label> -->
	<!-- </div> -->

	<!-- Submit button -->
	<!-- 				<button type="submit" onclick="document.body.dispatchEvent(new Event('submit_new_diet'))" class="w-full flex items-center justify-center gap-3 px-5 py-3 text-white font-semibold  -->
	<!-- 		rounded-xl bg-blue-500 hover:bg-blue-700"> -->
	<!-- 					Save Diet -->
	<!-- 				</button> -->
	<!-- 			</form> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </div> -->
	<!-- Delete diet modal -->
	<!-- <div id="delete-diet-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  -->
	<!-- 	justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"> -->
	<!-- 	<div class="relative p-4 w-full max-w-md max-h-full"> -->
	<!-- Modal content -->
	<!-- <div class="w-full bg-white flex flex-col rounded-2xl shadow-md dark:bg-gray-800 p-4 space-y-6"> -->
	<!-- Modal header -->
	<!-- <h2 id="delete-modal-title" class="text-2xl font-bold text-gray-800 text-center dark:text-white"> -->
	<!-- 	Delete Diet -->
	<!-- </h2> -->

	<!-- Modal body -->
	<!-- <form class="space-y-4" hx-delete="diet/delete" hx-target="#delete-modal-title" -->
	<!-- 	hx-on::after-request="if(event.detail.successful) this.reload()"> -->
	<!---->
	<!-- Diet type -->
	<!-- <div> -->
	<!-- 	<label for="diet_id" -->
	<!-- 		class="block text-sm font-medium text-gray-700 dark:text-gray-300">Diet</label> -->
	<!-- 	<select name="diet_id" id="diet_id" -->
	<!-- 		class="mt-1 w-full rounded-xl bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white focus:ring-blue-500 focus:border-blue-500 p-2"> -->
	<!-- 		{{ range .UserDiets }} -->
	<!-- 		{{ if .IsDefault }} -->
	<!-- 		<option value="{{ .ID }}" selected>{{.DietType}}</option> -->
	<!-- 		{{ else }} -->
	<!-- 		<option value="{{ .ID }}">{{.DietType}}</option> -->
	<!-- 		{{ end }} -->
	<!-- 		{{ end }} -->
	<!-- 	</select> -->
	<!-- </div> -->
	<!-- Submit button -->
	<!-- 				<button type="submit" onclick="document.body.dispatchEvent(new Event('delete_diet'))" class="w-full flex items-center justify-center gap-3 px-5 py-3 text-white font-semibold  -->
	<!-- 		rounded-xl bg-blue-500 hover:bg-blue-700"> -->
	<!-- 					Delete Diet -->
	<!-- 				</button> -->
	<!-- 			</form> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </div> -->

	<p class="text-gray-500 text-left">*required</p>
</div>
{{ end }}
